<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %C %d %L %m%n" />
		</Console>
		<RollingRandomAccessFile append="true"
			fileName="/logs/jiangdaxian-web_zuul_test_5/jiangdaxian-web_zuul_test_5.log"
			filePattern="/logs/jiangdaxian-web_zuul_test_5/jiangdaxian-web_zuul_test_5.log.%d{yyyy-MM-dd}_%i"
			immediateFlush="false" name="RollingFile">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %C %d %L %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingRandomAccessFile>
		<Async includeLocation="true" name="ASYNC">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Logstash"/>
			<AppenderRef ref="RollingFile" />
		</Async>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="ASYNC" />
		</Root>

		<logger additivity="false" level="info" name="com.jiangdaxian">
			<AppenderRef ref="ASYNC" />
		</logger>
	</Loggers>
</Configuration>